{% extends 'base.html' %}
{% block header %}
    {% include 'elements/header.html' %}
{% endblock %}
{% block content %}
{%  csrf_token %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <form class="form Cart" action="#" method="post" name="cart_order">
                {% if cart%}
                    {% for item in cart %}
                        <div class="Cart-product">
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{ item.product_in_shop.goods.goods_image.first.image.url }}" alt="card.jpg"></a>
                                </div>
                                <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'detail' item.product_in_shop.goods.id %}"> {{ item.product_in_shop.goods.name }}</a>
                                    <div class="Cart-desc">
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_price">
                                        {% if item.discount_price < item.product_in_shop.price %}
                                            <div class="Cart-price Cart-price_old">{{ item.product_in_shop.price }}руб</div>
                                        {% endif %}
                                        <div class="Cart-price" id="{{ item.product_in_shop.goods.id }}">{{ item.discount_price }}руб</div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_seller">
                                    <div class="form-selectWrap">
                                        <select id="select" class="form-select" name="seller">
                                                  {% for key, value in shops.items %}
                                                      {% if key == item.product_in_shop.goods.id  %}
                                                          {% for shop in value %}
                                                              {% if shop.seller.title == item.product_in_shop.seller.title %}
                                                                  <option value="{{ item.product_in_shop.goods.id }}" selected="selected"> {{ shop.seller.title }}
                                                                  </option>
                                                              {% else %}
                                                                  <option value="{{ item.product_in_shop.goods.id }}"> {{ shop.seller.title }}
                                                                  </option>
                                                              {% endif %}
                                                          {% endfor %}
                                                      {% endif %}
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_amount">
                                    <div class="Cart-amount">
                                        <div class="Amount">
                                            <button class="Amount-remove" value="{{ item.product_in_shop.goods.id }}amount" type="button">
                                            </button>
                                            <input id="{{ item.product_in_shop.goods.id }}amount" class="Amount-input form-input" name="amount{{ item.product_in_shop.goods.id }}" type="text" value="{{ item.quantity }}">
                                            <button class="Amount-add" value="{{ item.product_in_shop.goods.id }}amount" type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_delete">
                                    <a class="Cart-delete" href="{% url 'cart:remove' item.product_in_shop.goods.id %}">
                                        <img src="/static/assets/img/icons/card/delete.svg" alt="change.svg">
                                    </a>
                                </div>
                            </div>

                        </div>

                    {% endfor %}


                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:</strong>
                            <span class="Cart-price" id="prev_price_with_discount">{{ total_price_disc }} руб</span>
                            {% if total_price_disc < total_price %}
                                <span class="Cart-price_old" id="prev_price">{{ total_price }} руб</span>
                            {% endif %}
                        </div>
                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="../orders/add_order">Оформить заказ</a>
                        </div>
                    </div>
                {% else %}
                    Корзина пуста
                {% endif %}
            </form>
        </div>
      </div>
    </div>

<script>
$(document).ready(function (){
    var csrf = $("input[name=csrfmiddlewaretoken]").val();
    $(".form-select").change(function(){
        var product=$(this).val();
        console.log(product)
        $.ajax({
            url: '{% url "cart:change_price" %}',
            method: 'post',
            dataType: 'json',
            data: {
                product_id: $(this).val(),
                shop: $(this).find('option:selected').text(),
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                document.getElementById(product).textContent = response.data
                document.getElementById(product).textContent += ' руб'
                var discount_price = document.getElementById('prev_price')
                if (discount_price !== null) {
                    discount_price.textContent = response.total_price
                    discount_price.textContent += ' руб'
                }
                document.getElementById('prev_price_with_discount').textContent = response.total_price_disc
                document.getElementById('prev_price_with_discount').textContent += ' руб'
                document.getElementById('CartBlock-price').textContent = response.total_price_disc
                document.getElementById('CartBlock-price').textContent += ' руб'
            }
        })
    });
})
</script>
<script>
$(document).ready(function (){
    var csrf = $("input[name=csrfmiddlewaretoken]").val();
    $(".Amount-add").click(function(){
        var id_of_product=$(this).val()
        var count = $('#'+id_of_product).val()
        console.log(parseInt(id_of_product))
        console.log(parseInt(count)+1)
        $.ajax({
            url: '{% url "cart:change_count" %}',
            method: 'post',
            dataType: 'json',
            data: {
                product_id: parseInt(id_of_product),
                count_of_product: (parseInt(count)+1),
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                var discount_price = document.getElementById('prev_price')
                if (discount_price !== null) {
                    discount_price.textContent = response.total_price
                    discount_price.textContent += ' руб'
                }
                document.getElementById('prev_price_with_discount').textContent = response.total_price_disc
                document.getElementById('prev_price_with_discount').textContent += ' руб'
                document.getElementById('CartBlock-price').textContent = response.total_price_disc
                document.getElementById('CartBlock-price').textContent += ' руб'
            }
        })
    });


    $(".Amount-remove").click(function(){
        var id_of_product=$(this).val()
        var count = $('#'+id_of_product).val()
        $.ajax({
            url: '{% url "cart:change_count" %}',
            method: 'post',
            dataType: 'json',
            data: {
                product_id: parseInt(id_of_product),
                count_of_product: (parseInt(count)-1),
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                var discount_price = document.getElementById('prev_price')
                if (discount_price !== null) {
                    discount_price.textContent = response.total_price
                    discount_price.textContent += 'руб'
                }
                document.getElementById('prev_price_with_discount').textContent = response.total_price_disc
                document.getElementById('prev_price_with_discount').textContent += ' руб'
                document.getElementById('CartBlock-price').textContent = response.total_price_disc
                document.getElementById('CartBlock-price').textContent += ' руб'
            }
        })
    });
})
</script>
{% endblock %}
{% block footer %}
     {% include 'elements/footer.html' %}
{% endblock %}
