{% load static %}
{% load i18n %}

<div class="Card"><a class="Card-picture" href="{{ goods.get_absolute_url }}"><img src="{{ goods.goods_image.first.image.url }}" alt="card.jpg"/></a>
    <div class="Card-content">
        <strong class="Card-title"><a href="{{ goods.get_absolute_url }}"> {{ goods.name }} </a>
        </strong>
        <div class="Card-description">
            <div class="Card-cost"><span class="Card-priceOld">${{ goods.price }}</span><span class="Card-price"> {{ goods.price }} </span>
            </div>
            <div class="Card-category"> {{ goods.category.title }}
            </div>
        </div>
        <div class="CountDown" data-date="31.09.2020 03:59">
            <div class="CountDown-block">
                <div class="CountDown-wrap">
                    <div class="CountDown-days">
                    </div><span class="CountDown-label">days</span>
                </div>
            </div>
            <div class="CountDown-block">
                <div class="CountDown-wrap">
                    <div class="CountDown-hours">
                    </div><span class="CountDown-label">hours</span>
                </div>
            </div>
            <div class="CountDown-block">
                <div class="CountDown-wrap">
                    <div class="CountDown-minutes">
                    </div><span class="CountDown-label">mins</span>
                </div>
            </div>
            <div class="CountDown-block">
                <div class="CountDown-wrap">
                    <div class="CountDown-secs">
                    </div><span class="CountDown-label">secs</span>
                </div>
            </div>
        </div>
    </div>
</div>