{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
{% include 'elements/header.html' %}
{% endblock header %}

{% block content %}
    <div class="Header-searchWrap">
        <div class="wrap">
            <div class="Header-categories">
                <div class="CategoriesButton">
                    <div class="CategoriesButton-title">
                        <div class="CategoriesButton-icon"><img
                                src="{% static 'assets/img/icons/allDep.svg' %}"
                                alt="allDep.svg">
                        </div>
                        <a href="№">
                        <span class="CategoriesButton-text"> что сюда вставить? </span>
                        </a>
                        <div class="CategoriesButton-arrow">
                        </div>
                    </div>
                    <div class="CategoriesButton-content">

                        <div class="CategoriesButton-link"><a href="">
                            <div class="CategoriesButton-icon"><img
                                    src="{% static 'assets/img/icons/departments/1.svg' %}"
                                    alt="1.svg">
                            </div>
                            <span class="CategoriesButton-text"></span></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}"
                                                alt="search.svg">
            </div>
            <div class="Header-search">
                <div class="search">
                    <form class="form form_search" action="#" method="post">
                        <input class="search-input" id="query" name="query" type="text" placeholder="{% translate 'What are you looking for' %}">
                        <button class="search-button" type="submit" name="search" id="search"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg">{% translate 'search' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

   {% include 'banners/banner.html' %}
    {% for goods in limit_edition %}
    {% include 'goods/card.html' %}
    {% endfor %}



{% endblock %}

{% block footer %}
    {% include 'elements/footer.html' %}
{% endblock %}