{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'elements/header.html' %}
{% endblock %}
{% load i18n %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% translate 'Personal account' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'index' %}">{% translate 'home' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% translate 'Personal account' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% translate 'Navigation' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="account.html">{% translate 'Personal account' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="../profile/">{% translate 'Profile' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'history_orders' %}">{% translate 'Order history' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'historyview' %}">{% translate 'Viewing history' %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar"><img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">{{user.full_name}}
                </div><a class="Account-editLink" href="../profile">{% translate 'Edit profile' %}</a>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <div class="Order Order_anons">
                  <div class="Order-personal">
                    <div class="row">
                      <div class="row-block"><a class="Order-title" href="oneorder.html">{% translate 'Order' %}&#32;<span class="Order-numberOrder">№{{last_order.order_number}}</span>&#32;от&#32;<span class="Order-dateOrder">{{last_order.order_date}}</span></a>
                        <div class="Account-editLink"><a href="historyorder.html">{% translate 'Order history' %}</a>
                        </div>
                      </div>
                      <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                          <div class="Order-infoType">{% translate 'Type of delivery' %}:
                          </div>
                          <div class="Order-infoContent">{{last_order.delivery_method}}
                          </div>
                        </div>
                        <div class="Order-info Order-info_pay">
                          <div class="Order-infoType">{% translate 'Payment' %}:
                          </div>
                          <div class="Order-infoContent">{{last_order.payment_method}}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">{% translate 'Total cost' %}:
                          </div>
                          <div class="Order-infoContent">{{last_order.goods_in_market.price}}
                          </div>
                        </div>
                        <div class="Order-info Order-info_status">
                          <div class="Order-infoType">{% translate 'Status' %}:
                          </div>
                          <div class="Order-infoContent">{{last_order.status}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <header class="Section-header">
                  <h2 class="Section-title">{% translate 'Browsing history' %}
                  </h2>
                </header>
                {%  for product in view_goods %}
                  <div class="Cards Cards_account">
                    <div class="Card"><a class="Card-picture" href="#"><img src="../static/assets/img/content/home/card.jpg" alt="card.jpg"/></a>
                      <div class="Card-content">
                        <strong class="Card-title"><a href="#">{{product.goods.name}}</a>
                        </strong>
                        <div class="Card-description">
                          <div class="Card-cost"><span class="Card-priceOld">${{product.goods.price}}</span><span class="Card-price">${{product.goods.price}}</span>
                          </div>
                          <div class="Card-category">{{product.goods.category}}
                          </div>
                          <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                          </div>
                        </div>
                      </div>
                      <div class="Card-sale">-60%
                      </div>
                    </div>
                  </div>
                {%  endfor  %}
                <div class="Account-editLink Account-editLink_view"><a href="{% url 'historyview' %}">{% translate 'Go to the full list' %}</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/plg/jQuery/jquery-3.5.0.slim.min.js"></script>
  <script src="assets/plg/form/jquery.form.js"></script>
  <script src="assets/plg/form/jquery.maskedinput.min.js"></script>
  <script src="assets/plg/range/ion.rangeSlider.min.js"></script>
  <script src="assets/plg/Slider/slick.min.js"></script>
  <script src="assets/js/scripts.js"></script>
{% endblock %}
{% block footer %}
     {% include 'elements/footer.html' %}
{% endblock %}

