{% extends 'base.html' %}
{% block header %}
    {% include 'elements/header.html' %}
{% endblock %}
{% load i18n %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    <div class="wrap" style="margin-top: 15px">
        {{ form.as_p }}
    <div class="btn_outline" style="margin-top: 15px">
        <button class="btn btn_success" type="submit">{% translate 'Register' %}</button>
    </div>
    </div>
    </form>
{% endblock %}
{% block footer %}
     {% include 'elements/footer.html' %}
{% endblock %}