{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block header %}
    {% include 'elements/header.html' %}
{% endblock %}
{% block content %}
    <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% translate 'Megano Product' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">{% translate 'Home' %}</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% translate 'Product' %}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <div class="ProductCard-sale">-15%</div>
                <img src="{{ image_pict_right.image.url }}" alt="card.jpg"/>
              </div>
              <div class="ProductCard-picts">
                {%  for image in images %}
                  <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="{{image.name}}png"/></a>
                {%  endfor  %}
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title"> {{goods.name}}
                </h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">{{goods.price}}
                    </div>
                    <div class="ProductCard-priceOld"> {{goods.price}}
                    </div>
                  </div>
                  <div class="ProductCard-compare">
                      <a class="Card-btn" href="{% url 'compare_add' goods.id %}" ><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>

                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <ul>
                      <li>{% translate "Brand" %}: {{goods.brand}}</li>
                </ul>
              </div>
              <div class="ProductCard-cart">
                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                  <div class="Amount Amount_product">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
                <div class="ProductCard-cartElement">
                    {% if in_cart_or_not %}
                        <a class="btn btn_primary" href="{% url 'cart' %}"><button class="btn btn_primary">{% translate 'Product in the cart' %}</button></a>
                    {% else %}
                        <a class="btn btn_primary" id="redirect" ><button class="btn btn_primary" id="add_cart" value="{{ goods.id }}">{% translate 'Add To Cart' %}</button></a>
                        <input type="hidden" id="url_from" name="url_from" value="{{request.path}}">
                    {% endif %}
                </div>
              </div>
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">{% translate 'Tags' %}:
                  </strong>
                  <a href="#">{% translate 'Accesories' %}</a>,
                  <a href="#">{% translate 'Creative' %}</a>,
                  <a href="#">{% translate 'Design' %}</a>,
                  <a href="#">{% translate 'Gaming' %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links"><a class="Tabs-link_ACTIVE Tabs-link" href="#description">
              <span>{% translate 'Description' %}</span></a><a class="Tabs-link" href="#sellers">
              <span>{% translate 'Sellers' %}</span></a><a class="Tabs-link" href="#addit">
              <span>{% translate 'AdditionaL Info' %}</span></a><a class="Tabs-link" href="#reviews">
              <span>{% translate 'Reviews' %}({{len_review}})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>{% translate 'Description' %}
                </h2>
                <p>
                  <strong>{{ goods.describe }}
                  </strong>
                </p><img class="pict pict_right" src="{{ image_pict_right.image.url }}" alt="{{image.name}}.png"/>
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>{% translate 'Characteristic' %}
                      </th>
                      <th>{% trans 'value' %}
                      </th>
                    </tr>
                    {%  for characteristic in feature  %}
                      <tr>
                        <td>{{characteristic.name.name}}
                        </td>
                        <td> {{characteristic}}
                        </td>
                      </tr>
                    {%  endfor  %}
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product">
                  {%  for shop in seller %}
                    <div class="Categories-row">
                      <div class="Categories-block Categories-block_info">
                        <div class="Categories-info">
                          <strong>{{shop.seller}}</strong>
                        </div>
                      </div>
                      <div class="Categories-block Categories-price">
                        <strong>€&#32;{{shop.price}}
                        </strong>
                      </div>
                      <div class="Categories-block Categories-button"><a class="btn btn_primary" href="{% url 'cart:addbysellerid' goods.id shop.seller.id %}"><img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/><span class="btn-content">{% translate 'Buy' %}</span></a></div>
                    </div>
                  {%  endfor  %}
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  <div class="Product-prop">
                    <strong>{% translate 'release date' %}:
                    </strong><span> {{goods.release_date}}</span>
                  </div>
                  <div class="Product-prop">
                    <strong>{% translate 'limit edition' %}:
                    </strong><span> {{goods.limit_edition}}</span>
                  </div>
                  <div class="Product-prop">
                    <strong>{% translate 'category' %}:
                    </strong><span> {{goods.category.title}}</span>
                  </div>
                  <div class="Product-prop">
                    <strong>{% translate 'rating' %}:
                    </strong><span> {{goods.rating}}</span>
                  </div>
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  <h3 class="Section-title"> {% translate 'Reviews' %}:{{len_review}}</h3>
                </header>
                <div class="Comments">
                  <div class="Comment">
                    {%  for comment in review %}
                        <div class="Comment-column Comment-column_pict">
                          <div class="Comment-avatar"></div>
                        </div>
                        <div class="Comment-column">
                          <header class="Comment-header">
                            <div>
                              <strong class="Comment-title">{{comment.author_name}}
                              </strong><span class="Comment-date">{{comment.date}}</span>
                            </div>
                          </header>
                          <div class="Comment-content">{{comment.text}}</div>
                        </div>
                    {%  endfor  %}
                  </div>
                </div>
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">{% translate 'Add Review' %}
                  </h3>
                </header>
                <div class="Tabs-addComment">
                    <form class="form" action="../{{goods.id}}/" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <textarea class="form-textarea" name="text" id="text" placeholder="Review"></textarea>
                      </div>
                      {% if request.user.is_authenticated %}
                        <div class="form-group">
                          <div class="row">
                            <div class="row-block">
                              <input class="form-input" id="author_name" name="author_name" type="text" value="{{request.user.full_name}}"/>
                            </div>
                            <div class="row-block">
                              <input class="form-input" id="email" name="email" type="email" value={{request.user.email}}>
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="form-group">
                          <div class="row">
                            <div class="row-block">
                              <input class="form-input" id="author_name" name="author_name" type="text"/>
                            </div>
                            <div class="row-block">
                              <input class="form-input" id="email" name="email" type="email"/>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      <div class="form-group">
                        <button class="btn btn_muted" type="submit">{% translate 'Send feedback' %}</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
    $(document).ready(function (){
        var csrf = $("input[name=csrfmiddlewaretoken]").val();
        $("#add_cart").click(function(){
            $.ajax({
                url: '{% url "cart:add" goods.id%}',
                method: 'post',
                dataType: 'json',
                data: {
                    product_id: {{ goods.id }},
                    count: $(".Amount-input").val(),
                    csrfmiddlewaretoken: csrf
                },
                success: function (response) {
                    document.getElementById('add_cart').textContent = 'В корзинe'
                    document.getElementById('redirect').setAttribute('href', '{% url 'cart:mycart' %}')
                    document.getElementById('CartBlock-price').textContent = response.total_price_disc
                    document.getElementById('CartBlock-price').textContent += 'руб'
                }
            })
        });
    })
    </script>
{% endblock %}