{% extends "base.htm" %}
{% load i18n %}

{% block top_product_catalog %}
  <div class="Section-content">
    <header class="Section-header">
      <h2 class="Section-title">{% translate 'Popular products' %}
      </h2>
    </header>
    <div class="Cards">
      {% for top_goods in goods %}
         <div class="Card"><a class="Card-picture" href="#"><img src="../static/assets/img/content/home/card.jpg" alt="card.jpg"/></a>
            <div class="Card-content">
              <strong class="Card-title"><a href="#">{% translate {{ top_goods.name }} %}</a></strong>
              <div class="Card-description">
                <div class="Card-cost"><span class="Card-priceOld">${% translate {{ top_goods.price }} %}</span><span class="Card-price">$85.00</span>
                </div>
                <div class="Card-category">{% translate {{ top_goods.category }} %}
                </div>
                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../static/assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="../django-frontend/assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="../django-frontend/compare.html"><img src="../django-frontend/assets/img/icons/card/change.svg" alt="change.svg"/></a>
                </div>
              </div>
            </div>
            <div class="Card-sale">-60%</div>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
