{% extends 'admin/index.html' %}
{% load i18n %}
{% block sidebar %}
  {{ block.super }}
  <div class="app-clear-cache module">
    <table>
      <caption>
        <a href="{% url 'clearcache' %}" class="section" title="Clear cache">{% translate 'Clear cache' %}</a>
      </caption>
      <tbody>
      <tr class="model-user">
        <th scope="row"><a href="{% url 'clearcache' %}">{% translate 'Clear cache' %}</a></th>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}