{% load static %}
<header>
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block"><a class="ControlPanel-title" href="#">Бесплатная доставка</a>
                        </div>
                        <div class="row-block hide_700"><span class="ControlPanel-title">Подпишитесь на нас в</span>
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/fb.svg' %}"
                                        alt="fb.svg"></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/tw.svg' %}"
                                        alt="tw.svg"></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/in.svg' %}"
                                        alt="in.svg"></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/pt.svg' %}"
                                        alt="pt.svg"></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="{% static 'assets/img/icons/socialHeader/mail.svg' %}"
                                        alt="mail.svg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block">
                            <a class="ControlPanel-title" href="login">Войти</a>/
                            <a class="ControlPanel-title" href="register">Зарегестироваться</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="#"><img class="logo-image"
                                                                             src="{% static 'assets/img/logo.png' %}"
                                                                             alt="logo.png"></a>
            </div>
            <nav class="row-block row-block_right Header-menu">
                <div class="menuModal" id="navigate">
                    <ul class="menu menu_main" style="position: static;">
                        <li class="menu-item"><a class="menu-link" href="#">Премиум</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Магазины</a>
                        </li>
                        <li class="menu-item"><span class="menu-label menu-label_danger">Новое</span><a class="menu-link"
                                                                                                        href="#">Рассрочка</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Акции</a>
                        </li>
                        <li class="menu-item"><span class="menu-label menu-label_success">Топ</span><a class="menu-link"
                                                                                                       href="#">Бренды</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Электроника</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#">Одежда и обувь</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row-block">
                <div class="CartBlock"><a class="CartBlock-block" href="#"><img class="CartBlock-img"
                                                                                src="{% static 'assets/img/icons/exchange.svg' %}"
                                                                                alt="exchange.svg"><span
                        class="CartBlock-amount">4</span></a><a class="CartBlock-block" href="#"><img
                        class="CartBlock-img" src="{% static 'assets/img/icons/cart.svg' %}"
                        alt="cart.svg"><span
                        class="CartBlock-amount">0</span></a>
                    <div class="CartBlock-block"><span class="CartBlock-price">0.00$</span>
                    </div>
                </div>
            </div>
            <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
                <div class="menuTrigger-content">Показать навигацию
                </div>
                <span></span><span></span><span></span></a>
            </div>
        </div>
    </div>
</header>